/* Definir variables globales */

:root {
    --primary-color: #5a2375;
    --secondary-color: #473198;
    --oscure-color-one:#232528;
    --oscure-color-two:232528;
    --text-color-light: #f7f0f5;
    --text-color-dark: #3d3d3d;
}

body {
    margin: 0;
    background-color: var(--text-color-light);
}

header { 
    position: sticky;
    width: 99%;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    z-index: 1000;
    top: 0;
    color: var(--text-color-light);
}

.navbar-brand{
 width: 18%;
}

.navbar-nav{
    display: flex;
    flex-wrap: nowrap; /* Evita que los enlaces se envuelvan */
    justify-content: space-between; /* Distribuye el espacio adecuadamente */
    width: auto;
}


form.d-flex input[type="search"] {
    margin: auto 0;
    width: 60%; 
    height: 85%;
}

.carousel {
    width: 75%;
    margin: 0 auto;
}

.index-main-section .row h1{
    margin: 4% auto
}

header li a{
    color: var(--text-color-light) !important; 
}
.custom-nav-link {
    font-size: 1.2rem !important;
}

.img-logo{
    width: 30%;
    height: auto;
}

.img-icon-profile-info{
    width: 8.5%;
    height: auto;
}

/* Estilo de las tarjetas de productos */

.tarjeta-producto{
    align-items: center;
    text-align: justify;
    border: 3px solid var(--text-color-dark);
    border-radius: 4%;
    width: 75%;
    height: 90%;
    margin: 1.2rem;
    background-color: #fff;
}


/* Ajuste de las imágenes */
.img-producto {
    width: 30%;
    height: 45%;
}

/*modificacion del texto dentro de cada tarjeta */
.titulo-producto {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    margin-top: 4%;
}

.desc-corta-producto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: small;
    padding: 0 3%;
}

.precio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--secondary-color);
    text-align: left;
}

.button-ver-mas {
    font-size: large;
    padding: 3% auto;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    border: 4px solid var(--oscure-color-one);
    border-radius: 12px;
    cursor: pointer;
}

.button-ver-mas:hover{
    background-color: var(--secondary-color);
}

.dropdown-menu li {
    border-bottom: 1px solid var(--text-color-light);
    background-color:var(--oscure-color-one);
}

.dropdown-menu{
    background-color: #232528;
}

.dropdown-menu li a {
    display: block;
    color: var(--text-color-light);
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: var(--text-color-dark);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none; /* Oculta por defecto */
}

.dropdown-submenu:hover .dropdown-menu {
    display: block; /* Muestra al hacer hover */
}

a:link {
    text-decoration: none;
}

/**************************************************************************/

/* Edición de la pagina blog */

.img-blog{
    height: auto;
    width: 100%;
}

.blog-img1{
    height: auto;
    width: 80%;
}

.blog-img2{
    height:auto;
    width: 90%;
}

.main-blog p{
    text-align: justify;
}

.main-blog{
    font-family: "Roboto", sans-serif;
}



@media (max-width: 767.98px) {

    .img-logo{
        width: 60%;
        height: auto;
    }
    .img-icon-profile-info{
        width: 10.5%;
        height: auto;
    }
    .index-main-section .row h1{
        margin-bottom: 1%;
    }

    .carousel {
        width: 90%;
        margin: 0 auto;
    }
    
    /* tarjetas */
    .tarjeta-producto {
        width: 72%; 
        height: 72%;
        margin: 0.7rem auto; 
        border: 2px solid var(--text-color-dark);
    }

    .button-ver-mas {
        font-size: smaller;
        background-color: var(--secondary-color);
        border: 3.5px solid var(--text-color-dark);
        border-radius: 10px;
        margin-bottom: 40%; 
        padding: calc(1% + 0.2rem);
    }

    .titulo-producto {
        font-family: "Roboto", sans-serif;
        font-size: medium;
        font-weight: 700;
        margin-top: 4%;
    }
    
    .desc-corta-producto {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: smaller;
        padding: 0 3%;
    }
    
    .precio {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: var(--secondary-color);
        text-align: left;
    }
    
    .blog-img2{
        width: 100%;
    }
    
    .blog-img3{
        width: 90%;
    }

}
